h1{
    text-align: center;
    background-color: black;
} 

body{
    background-color: black;
}

p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
}

ul{ 
    color: rgb(255, 255, 255);
    text-align: center;
}
.botao{
    background-color: rgb(255, 255, 255);
    color: black;
    border:none ;
    text-align: center;
    padding: 10px 20px;
}