h1{
    text-align: center;
    background-color: rgb(252, 250, 250);
} 

body{
    background-image: url("iphone.jpg");
}

p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
}

ul{ 
    color: rgb(255, 255, 255);
    text-align: left;
}
.botao{
    background-color: rgb(255, 255, 255);
    color: black;
    border:none ;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}
.cabecalho{
    border-style: groove;
    border-color: rgb(255, 255, 255);
}